.imagenBot {
    max-height: 40px; /* Ajusta el tamaño máximo de la altura */
    max-width: 100%; /* Mantiene las proporciones de la imagen */
    padding-right: 10px ;
}

.icon-list {
    margin-left: auto; /* Empuja el icono hacia la derecha */
}