.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #c5d8ec;
}

.home-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
  background-color: #c5d8ec;
}

.lista-contenido-Quizz {
  background-color: white;
  /* Fondo blanco */
  padding: 16px;
  /* Espaciado interno */
  border-radius: 8px;
  /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para destacar el fondo */
  width: 100%;
  /* Ocupa todo el ancho disponible */
  max-width: 400px;
  /* Ancho máximo */
}

mat-list-item {
  font-size: 16px;
  /* Ajusta el tamaño del texto */
  padding: 8px 0;
  /* Espaciado interno entre los elementos */
}