.wrapper{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  
  
  mat-drawer-container {
    display: flex;
    flex-direction: column;
  }
  
  .home-body {
    padding: 16px;
    box-sizing: border-box;
    background-image: url('/assets/image/light-blue-blurred-background-vector.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: 100%;
  }
  .content-wrapper {
    display: flex; /* Activa Flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    gap: 16px; /* Espacio entre la imagen y el texto */
  }
  
  .imagenIA{
    max-width: 350px; /* Ajusta el ancho máximo de la imagen */
    max-height: 350px;
    width: auto;
    height: auto;
    border-radius: 8px;
  }
  
  .content-wrapper h1 {
    font-size: 24px; /* Ajusta el tamaño del texto */
    margin: 0; /* Elimina márgenes predeterminados */
  }
  
  .start-button {
    padding: 8px 16px; /* Espaciado interno del botón */
    font-size: 16px; /* Tamaño del texto del botón */
    background-color: #163aec; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Animación para el cambio de color */
  }
  
  .start-button:hover {
    background-color: #6b2feb; /* Color de fondo al pasar el cursor */
  }