<section class="home">
    <div class="wrapper">
      <!-- Esta etiqueta se usa para indicar todo el html que debe cubrir el menú -->
      <mat-drawer-container>
        <mat-drawer #drawer mode='over' position="start">
          <app-right-sidebar (cerrar)="drawer.toggle()"></app-right-sidebar>
        </mat-drawer>
        <!-- Se coloca el header de las vistas -->
        <app-navbar (drawer)="drawer.toggle()"></app-navbar>
        <!-- Colocamos la sección del body de toda la vista -->
        <div class="home-body">
            <img src="/assets/images/light-blue-blurred-background-vector.jpg" alt="Background" class="background-image">
            <h2>Bienvenido Usuario</h2>
            <div class="content-wrapper">
            <img class="imagenIA" src="/assets/images/IA.jpg" >
            <h1>Estas preparado para un nuevo quizz?</h1>
            <button class="start-button">Vamos!</button>
            </div>
        </div>
      </mat-drawer-container>
    </div>
  </section>